<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seiche.strike"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/icon"
        android:label="Strikers"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:label="@string/app_name"
            android:name=".GameProjectActivity"
            android:screenOrientation="landscape" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".Menu"
            android:screenOrientation="landscape" >
            <intent-filter >
                <action android:name="com.seiche.strike.MENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".GameActivity"
            android:screenOrientation="landscape" >
            <intent-filter >
                <action android:name="com.seiche.strike.GAMEACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>